* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6eff6;
}

.card {
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 58rem;
  -webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.1);
}

.card .community {
  background-color: #fff;
  padding: 4.5rem 4.1rem;
}

.card .community h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #2ab2af;
  margin-bottom: 2rem;
}

.card .community h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #c0df34;
  margin-bottom: 1rem;
}

.card .community p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #98a6bd;
}

.card .info {
  background-color: #2ab2af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.card .info .subscription {
  padding: 4.5rem 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.card .info .subscription h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.card .info .subscription .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.card .info .subscription .price span {
  font-size: 3rem;
  font-weight: 700;
}

.card .info .subscription .price p {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: #e5eff5;
}

.card .info .subscription p {
  font-size: 1.4rem;
}

.card .info .why-us {
  background-color: #4abebd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4.5rem 4rem;
}

.card .info .why-us .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .info .why-us .links h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.card .info .why-us .links a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #e5eff5;
}

.btn {
  background-color: #c0df34;
  padding: 1.6rem 0;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */